.second{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20px;
}

#pink{
    background-color: pink;
}
#blue{
    background-color: rgb(6, 178, 175);
}
#orange{
    background-color: orange;
}
#purple{
    background-color: rgb(129, 3, 149);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px 30px;
}